/* GENERAL */

body{
background:#f4f6f9;
min-height:100vh;
}

/* LOGIN */

.login-container{
max-width:900px;
width:100%;
margin:auto;
}

.left-panel{
background:linear-gradient(135deg,#0d6efd,#4f46e5);
color:white;
padding:40px;
border-radius:12px 0 0 12px;
display:flex;
flex-direction:column;
justify-content:center;
}

.right-panel{
background:white;
padding:40px;
border-radius:0 12px 12px 0;
}

.vote-icon{
font-size:60px;
margin-bottom:20px;
}

.nav-tabs .nav-link{
font-weight:500;
}

.form-control:focus{
box-shadow:none;
border-color:#0d6efd;
}


/* HEADER (otras páginas del sistema) */

.header{
background:linear-gradient(135deg,#0d6efd,#6610f2);
color:white;
padding:25px;
border-radius:10px;
margin-bottom:30px;
}


/* TARJETAS DE CANDIDATOS */

.candidate-card{
transition:0.2s;
cursor:pointer;
}

.candidate-card:hover{
transform:scale(1.03);
box-shadow:0 5px 15px rgba(0,0,0,0.15);
}